/*
Author: Matt Pahuta
https://www.mattpahuta.com
Date: 

COOLORS color palette link
https://coolors.co/161925-23395b-406e8e-8ea8c3-cbf7ed
*/

/* **************** */
/* Custom Variables */
/* **************** */
:root {
  /* colors */
  --clr-raisin-black: hsla(228, 25%, 12%, 1);
  --clr-delft-blue: hsla(216, 44%, 25%, 1);
  --clr-ucla-blue: hsla(205, 38%, 40%, 1);
  --clr-powder-blue: hsla(211, 31%, 66%, 1);
  --clr-mint-green: hsla(166, 73%, 88%, 1);

  /* neutrals */
  --clr-pure-white: hsl(0, 0%, 100%);
  --clr-ghost-white: hsl(252, 19%, 95%);
  --clr-silver: hsl(132, 4%, 76%);

  --clr-black: #1C1C1C;
  --clr-white: #FFFFFF; 
  --clr-gray: #6B7280;

  /* font sizes */
  /* 12px (results meta), 14px (body), 18px (results - h2), 44px (h1) */
  --fs-600: 2.75rem;
  --fs-500: 1.125rem;
  --fs-400: 0.875rem;   
  --fs-300: 0.75rem; 
  /* font-family: 'Fira Sans', sans-serif; 400, 500, 700 */
}

/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
} 

/* General styles */
body {
  height: 100vh;
  font-family: 'Fira Sans', sans-serif;
  font-size: var(--fs-400);
  background-color: var(--clr-black);
  color: var(--clr-white);

}

.wrapper {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 800px;
}

header {
	background-color: var(--clr-gray);
  /* placeholder header image */
	background-image: url("../images/showcase-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 7.5rem 0.5rem;
	align-items: center;
	justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

h1 {
  font-size: var(--fs-600);
  font-weight: 700;
}

header a {
  color: var(--clr-white);
  text-decoration: none;
}

header a:hover,
header a:active {
  color: violet;
  text-decoration: underline;
}

/* Search Form Styles */
.form-container {
  display: flex;
  justify-content: center;
  margin-top: -15px;
}
.search-form {
  padding-left: .5rem;
	display: flex;
	width: 85%;
	background: white;
  align-items: center;
	justify-content: space-between;
	border-radius: 6px;
	border: 1px solid var(--clr-gray);
}

form span {
  color: var(--clr-gray);
  padding-right: 5px;
}

form input {
  margin-right: 5px;
  padding-left: .5rem;
  border: none;
  flex-grow: 2;
}

button {
  cursor: pointer;
  margin: 0;
  padding: .75rem 2.5rem;
  border: none;
  outline: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}


/* utility classes */

.flex {
  display: flex;
}

/* Search results styles - movie cards */
.placeholder {
  color: #DFDDDD;
  flex-direction: column;
  align-self: center;
  align-items: center;
  gap: .5rem;
  font-size: 2rem;
  margin-top: 150px;
}

.fa-film {
  font-size: 5rem;
}

/* use Grid for the results */
.search-results {
  height: 100vh;
  padding: 2rem 0;
  /* background-color: var(--clr-white); */
  color: var(--clr-gray);
  flex-direction: column;
  gap: 1rem;
}


/* movie card styles */
.movie-card {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
  background-color: var(--clr-black);
  color: var(--clr-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 2px solid whitesmoke;
}

.movie-img {

  height: 35vh;
  object-fit: scale-down;

}

.card-content {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-title {
  font-size: var(--fs-500);
  letter-spacing: 1px;
  margin: 0;
}

.rating i {
  color: #FEC654;
}

.rating span {
  margin-left: 0.5rem;
}

.card-meta {
  display: flex;
  flex-direction: column;
}

.card-body {
  font-size: var(--fs-400);
  line-height: 1.6;
  color: var(--clr-gray);
}

@media (min-width: 600px) {
  .movie-card {
    flex-direction: row;
    /* align-items: center; */
  }

  .movie-img {
    height: 250px;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  .card-meta {
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.25rem;
  }

  .card-body {
    font-size: var(--fs-500);
    /* max-width: 350px; */
  }

}