/*
Author: Matt Pahuta
https://www.mattpahuta.com
Date: 

COOLORS color palette link
https://coolors.co/161925-23395b-406e8e-8ea8c3-cbf7ed
*/

/* **************** */
/* Custom Variables */
/* **************** */
:root {
  /* colors */
  --clr-raisin-black: hsla(228, 25%, 12%, 1);
  --clr-delft-blue: hsla(216, 44%, 25%, 1);
  --clr-ucla-blue: hsla(205, 38%, 40%, 1);
  --clr-powder-blue: hsla(211, 31%, 66%, 1);
  --clr-mint-green: hsla(166, 73%, 88%, 1);

  --clr-rating-yellow: hsla(40, 99%, 66%, 1);

  /* neutrals */
  --clr-pure-white: hsl(0, 0%, 100%);
  --clr-ghost-white: hsl(252, 19%, 95%);
  --clr-silver: hsl(132, 4%, 76%);

  --clr-black: #1C1C1C;
  --clr-white: #FFFFFF; 
  --clr-gray: #6B7280;

  /* font sizes */
  /* 12px (results meta), 14px (body), 18px (results - h2), 44px (h1) */
  --fs-600: 2.75rem;
  --fs-500: 1.125rem;
  --fs-400: 0.875rem;   
  --fs-300: 0.75rem; 
  /* font-family: 'Fira Sans', sans-serif; 400, 500, 700 */

  /* input and button */
  --input-border: #8b8a8b;
  --input-focus: hsl(245, 100%, 42%);


}

/* RESET */
/* Josh Comeau custom css reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* for screen-readers only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* General styles */
body {
  height: 100vh;
  font-family: 'Fira Sans', sans-serif;
  font-size: var(--fs-400);
  background-color: var(--clr-black);
  color: var(--clr-white);

}



/* Header Styles */
.page-title {
  font-size: var(--fs-600);
  font-weight: 700;
  margin-bottom: 1rem;
}

.header {
  min-height: 25vh;
	background-color: var(--clr-gray);
  /* placeholder header image */
	background-image: url("../images/showcase-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/* padding: 2.5rem 0.5rem; */

  display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem;
}

.title-container {
  text-align: center;
}

@media (min-width: 600px) {
  .header {
    padding: 4rem 1.5rem;
  }

  .title-container {
    width: 100%;
    max-width: 1160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-title {
    margin-bottom: 0;
  }
}


header a {
  color: var(--clr-white);
  text-decoration: none;
}

.watchlist-title a:hover {
  color: violet;
  text-decoration: underline;
}

/* Search Form Styles */
.search-group {
  margin-top: -33px;
  margin-inline: auto;
  width: 90%;
  max-width: 550px;
  padding: .5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  background: var(--clr-pure-white);
  border-radius: 15px;
}

/* Input Styles */
.search-input {
  width: 100%;
  max-height: 50px;
  padding: 0.5em;
  font-size: 16px;
  font-size: max(16px, 1em);

  padding: 0.875em 0.5em;
  background-color: var(--clr-white);

  border: none;
  border-radius: 5px;


}


.search-input:focus {
  border: 2px solid var(--clr-ucla-blue);
  /* border-color: var(--input-focus); */
  /* box-shadow: 0 0 0 3px hsla(166, 73%, 88%, 1); */
  outline: 3px solid transparent;

}

.btn {
	/* width: 100%; */
	padding: 0.9em 1.2em;
	cursor: pointer;
	font-family: inherit;
	font-size: var(--fs-500);
	font-weight: 700;
	line-height: 1;
	border: none;
	border-radius: 12px;
	background: var(--clr-ucla-blue);
	color: var(--clr-white);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	align-self: start;
  /* for hover/active effect */
	transition: 200ms all ease-in-out;
}


@media (min-width: 600px) {
  .search-group {

  }
}



/* Search results styles - movie cards */
.film-placeholder {
  color: #DFDDDD;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  gap: .5rem;
  font-size: 2rem;
  margin-top: 150px;
}

.fa-film {
  font-size: 5rem;
}

/* use Grid for the results */
.results-grid {

  padding: 2rem 0;
  /* background-color: var(--clr-white); */

  display: grid;
  /* grid-template-columns: repeat(auto-fit, 
         minmax(min(18rem, 100%), 1fr)); */
  justify-items: center;

  gap: 1rem;
}


/* movie card styles */
.movie-card {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
  background-color: var(--clr-black);
  color: var(--clr-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border-bottom: 2px solid whitesmoke; */
}


.card {
  min-height: 30rem;
  max-width: 21rem;
  
  border: 2px solid var(--clr-ghost-white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.movie-img {
  width: 100%;
  object-fit: cover;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-content {
  padding: 0.875rem;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem; */
}

.card-header,
.card-meta {
  margin-bottom: 0.5rem;
}

.card-header,
.card-meta {
  display: flex;
  align-items: center;

}

.card-header {
  width: 100%;
  justify-content: space-between;
}

.card-title {
  font-size: var(--fs-500);
  letter-spacing: 1px;
  margin: 0;
}

.rating i {
  margin-right: 5px;
  color: var(--clr-rating-yellow);
}

.card-meta {
  justify-content: flex-start;
  gap: 2em;
}

.card-meta:first-child {

}



.card-btn {
  margin-bottom: 1rem;
  cursor: pointer;
}

.card-body {
  font-size: var(--fs-400);
  line-height: 1.6;
  color: var(--clr-gray);
}

